django==5.2.6
argon2-cffi==25.1.0 
django-cors-headers==4.8.0 
django-environ==0.12.0
djangorestframework==3.16.0
pillow==11.3.0 
psycopg2==2.9.10  
stripe==12.5.1
boto3==1.40.30 
django-storages==1.14.6
django-taggit==6.1.0
django-allauth==65.11.2
dj-rest-auth==6.0.0         # reemplazo de django-rest-auth
django-crispy-forms==2.4
crispy-tailwind==1.0.3
django-ckeditor==6.7.3
django-tailwind==4.2.0
markdown==3.9
gunicorn==23.0.0
whitenoise==6.10.0
channels==4.3.1
django-redis==6.0.0
sqlparse==0.5.3
asgiref==3.9.1
mutagen==1.47.0
django-celery-beat==2.8.1
celery==5.5.0

